.category{
    p{font-size: 20px;
    font-weight: 600;
    background-color: #F1F0F0;
    width: 234px;
    padding: 0 10px;
    border-radius:3px ;}
    .categories{
        display: flex;
        flex-direction: row;
        justify-content: center;
    button{
        margin: 0 40px;
         width: 120px;
         height: 120px;
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
        .material-symbols-outlined{
            font-size: 50px;
            font-weight: 300;
        }
    } }
}