.footer{
    background-color: #000000;
    color: #FAFAFA;
    display: flex;
    padding: 20px 75px;
    .logo{
        width: 500px;
        height: 300px;
        font-size: 24px; 

        p{ font-weight: 700   
        }
        
    }
    .footermenu{
        display: flex;
        width: 100%;
        justify-content: space-around;
       
        p{
            color: #FAFAFA;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            

        }
        ul{
            list-style: none;
             color:#FAFAFA;
             font-size: 16px;
             font-weight: 400;
             text-align: start;
             padding-left: 0;
             li{
                padding-bottom: 5px;
             }
        }
        .menu{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
        }
    }
}
.copyright{
    padding: 0 75px;
    background-color: #000000;
    color: #FAFAFA;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-top: 1px solid #979797;
}