.ourproducts{
    .headertitle{
      color:  #000;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
    }
    .ourproductslist{
        .container{
        .card{
            width: 280px;
            height: 220px;
            margin-bottom: 30px;
            justify-content: center;
            align-items: center;
        .ourproductimg{
            width: 279.043px;
            height: 187.889px;
            background-color: #303030;
        }
        .ourproductdescription{
            .producttitle{
                color: #454545;
                font-size: 13px;
                font-weight: 300;
            }
            .productprice{
                color: #000;
                font-size: 16.98px;
                font-weight: 600;

            }

        }

    }
    }
}
}